<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Attempts</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>{{ player_name }}</td>
                <td>{{ attempts }}</td>
            </tr>

        </tbody>
    </table>
    <form action="/reset/" method="POST">
        {% csrf_token %}
        <input type="submit" value="Play Again">
    </form>
</body>
</html>